.frontpage {
    position: relative;
}
.frontpage img {
    box-sizing: border-box;
    z-index: -777;
}
.frontpage p {
    box-sizing: border-box;
    color: #fff;
    background-color: rgb(0,0,0,.5);;
    position: absolute;
    bottom: -8px;
    padding: 7px 20px;
}